* {
  padding: 0;
  margin: 0;
  -box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 20px; }

.contenedor {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .contenedor {
    width: 750px; } }

@media (min-width: 992px) {
  .contenedor {
    width: 970px; } }

@media (min-width: 1200px) {
  .contenedor {
    width: 1170px; } }

h3 {
  font-family: sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: #BF240A;
  color: #fff;
  padding: 7px; }

.arreglo {
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  background-color: #777678;
  color: #fff;
  width: 15%; }

p {
  color: #777678;
  line-height: 1.7em; }

.puntos {
  margin-left: 17px; }

.btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  margin: 10px;
  background-color: #BF240A;
  border-style: none;
  cursor: pointer;
  color: #fff; }
  .btn:hover {
    opacity: 0.7; }

ul li {
  color: #777678; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: white;
    background-color: #BF240A;
    /*    font-weight: bold; */
    font-size: 19px; }
    .menu ul li {
      color: #fff;
      display: inline-block; }
      .menu ul li:nth-child(2) {
        position: relative;
        float: right; }

#cont-starwars {
  position: relative;
  display: inline-flex;
  color: #777678; }
  #cont-starwars .starwars {
    margin: 20px 40px; }
    #cont-starwars .starwars li {
      border: 1px solid #BF240A;
      margin: 10px 20px;
      width: 25%;
      list-style: none;
      display: inline-block;
      padding: 10px;
      text-align: center; }

@media only screen and (max-width: 1200px) {
  .arreglo {
    width: 25%; } }

@media only screen and (max-width: 768px) {
  #cont-starwars .starwars li {
    width: 30%;
    height: auto; } }

@media only screen and (max-width: 414px) {
  .arreglo {
    width: 55%; }
  #cont-starwars .starwars li {
    width: 70%;
    height: auto; } }

@media only screen and (max-width: 375px) {
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 19px; }
    .menu ul li {
      display: block; }
      .menu ul li:nth-child(2) {
        position: relative;
        float: none; }
  .contenedor {
    margin-top: 20px; }
  #cont-starwars .starwars li {
    width: 80%; } }

@media only screen and (max-width: 320px) {
  .arreglo {
    width: 70%;
    margin-bottom: 10px;
    margin-top: 10px; }
  #cont-starwars {
    margin-left: 0; }
    #cont-starwars .starwars {
      margin-left: 0; }
      #cont-starwars .starwars li {
        width: 100%;
        height: 10%; } }
